version: 2.1

orbs:
  secops: apollo/circleci-secops-orb@2.0.7

executors:
  node:
    docker:
      - image: cimg/node:22.5.1
    working_directory: ~/vscode-graphql

commands:
  npm-install:
    steps:
      - restore_cache:
          name: Restore npm cache
          keys:
            - npm-packages-{{ checksum "package-lock.json" }}--{{ checksum ".circleci/config.yml" }}
      - run:
          name: Install dependencies
          command: npm ci --prefer-offline
      - save_cache:
          name: Save npm cache
          key: npm-packages-{{ checksum "package-lock.json" }}--{{ checksum ".circleci/config.yml" }}
          paths:
            - ~/.npm

jobs:
  lint:
    executor: node
    steps:
      - checkout
      - npm-install
      - run:
          name: Run lint (currenty prettier)
          command: npm run lint

  typescript:
    executor: node
    steps:
      - checkout
      - npm-install
      - run:
          name: TypeScript Check
          command: npm run typecheck

  test:
    executor: node
    steps:
      - checkout
      - npm-install
      - run:
          name: Test
          command: npm run test

  E2E tests:
    executor: node
    steps:
      - checkout
      - npm-install
      - run:
          name: Build
          command: npm run build:clean
      - run:
          name: E2E tests
          command: npm run test:extension

workflows:
  build-test-deploy:
    jobs:
      - lint
      - typescript
      - test
      - E2E tests
  security-scans:
    jobs:
      - secops/gitleaks:
          context:
            - platform-docker-ro
            - github-orb
            - secops-oidc
          git-base-revision: <<#pipeline.git.base_revision>><<pipeline.git.base_revision>><</pipeline.git.base_revision >>
          git-revision: << pipeline.git.revision >>
      - secops/semgrep:
          context:
            - secops-oidc
            - github-orb
          git-base-revision: <<#pipeline.git.base_revision>><<pipeline.git.base_revision>><</pipeline.git.base_revision >>
